nashpy==0.0.21
pgmpy==0.1.15
torch==2.0.1
pandas==2.0.3
numpy==1.24.3
scikit-learn==1.3.0
matplotlib==3.7.1
xlwt==1.3.0
scipy==1.11.1
pyzmq==25.0.2
python-can==4.2.0
cantools==38.2.0

# The following packages are part of the Python standard library 
# and typically do not need to be installed via pip:
# math, time, json, threading, signal, copy, os, sys

# rospy and mpl_toolkits are typically installed as part of ROS, and not via pip
# Please make sure to install ROS from their official website:
# http://wiki.ros.org/ROS/Installation
